{% extends "base.html" %}

{% load static i18n %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        {% if profile.company_name %}
            {{ profile.company_name }}
        {% else %}
            {{ provider.get_full_name }}
        {% endif %}
    </h1>
    {% if profile.description %}
    <p class="lead">{{ profile.description }}</p>
    {% endif %}

    {% if profile.price %}
    <p class="lead">
        <strong>Price:</strong> {{ profile.price }}€
    </p>
    {% endif %}
</div>
<div class="container">
    <div class="row mb-3" style="min-height: 480px;">
        <div class="col-10 offset-1">
            {% for review in profile.reviews %}
                <div class="mb-3">
                    {% include 'review/review_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}