{% extends "base.html" %}
{% load static i18n humanize %}

{% block extra_css %}
    {{ block.super }}
    <style>
        body {
            background-color: #f4f4f4;
        }

        .fa-star {
            font-size: 25px;
            color: #ccc;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pt-3">
            <div class="col-10 offset-1">
                <form class="form " action="{% url 'review_job' job.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col mb-4">
                            <h4>
                                Write about your job experience with <strong>{{ job.provider }}</strong>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card border-light">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <strong>
                                                    <label>Rating:</label>
                                                </strong>
                                                <div class="rating ml-3 d-inline">
                                                    <i class="fas fa-star" data-val="5"></i>
                                                    <i class="fas fa-star" data-val="4"></i>
                                                    <i class="fas fa-star" data-val="3"></i>
                                                    <i class="fas fa-star" data-val="2"></i>
                                                    <i class="fas fa-star" data-val="1"></i>
                                                </div>
                                                {% if form.errors.rating %}
                                                    <ul class="errorlist">
                                                        {% for error in form.errors.rating %}
                                                            <li>{{ error|escape }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% for field in form.hidden_fields %}
                                        {{ field }}
                                    {% endfor %}
                                    {% for field in form.visible_fields %}
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <strong>
                                                        {{ field.label_tag }}
                                                    </strong>
                                                    {{ field }}
                                                    {{ field.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mt-3 mb-3 offset-6">
                            <button onclick="mixpanel.track('Submit review')" class="btn btn-primary float-right">
                                Submit review
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $('.fa-star').click(function() {
            const rating = $(this).data('val');

            $( ".rating .fa-star" ).each(function() {
                const star = $(this);
                if (star.data('val') <= rating) {
                    $(this).addClass('active');
                } else {
                    $(this).removeClass('active');
                }
            });
            $('#id_rating').val(rating);
        });
    </script>
{% endblock %}

{% block footer %}{% endblock %}