{% extends "base.html" %}
{% load static i18n humanize %}

{% block navbar %}
    <div class="header">
        <div class="header-inside">
            <div class="d-flex flex-column flex-md-row align-items-center p-1 p-lg-3 px-md-4 mb-3 navbar-dark" id="mainNav">
                <h5 class="my-0 mr-md-auto ">
                    <a href="{% url 'home' %}" class="navbar-brand">
                        <img src="{% static 'img/favicon-trans2.png' %}" height="45px" class="mb-3 mr-1" style="position: relative; top: 7px;">
                        <span class="brand-text">
                            Levstik.si
                        </span>
                    </a>
                </h5>
                <nav class="mr-md-3">
                    <a class="p-2 link-nav" href="{% url 'home' %}">DOMOV</a>

                    {% if user.is_authenticated %}
                        <a class="p-2 link-nav" href="{% url 'create_winner' %}">
                            <i class="fas fa-plus"></i>
                            DODAJ NAGRAJENCA
                        </a>
                        <a class="p-2 link-nav" href="{% url 'profile' %}">PROFIL</a>
                        <a class="btn btn-primary" href="{% url 'logout' %}">ODJAVA</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'register' %}">REGISTRACIJA</a>
                        <a class="btn btn-primary ml-1" href="{% url 'login' %}">PRIJAVA</a>
                    {% endif %}
                </nav>
            </div>
            <div class="container text-center pt-3 pb-3" style="flex: 1;">
                <div>
                    <div class="col-md-12">
                        <h1 class="header-title gold">Levstikova nagrada</h1>
                    </div>
                    <div class="col-md-12 pt-3 pb-3">
                        <h5>
                            Levstikova nagrada je nagrada, ki jo od leta 1949 Založba Mladinska knjiga podeljuje za dosežke na področju otroške in
                            mladinske književnosti avtorjem, ki objavljajo pri tej založbi. Do leta 1991 so nagrado podeljevali enkrat letno, od tedaj
                            pa
                            bienalno.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <section class="primary">
        <div class="container pt-2 pb-5 text-white">
            <div class="row my-4">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading gold my-4">O nagradi</h2>
                    <h3 class="section-subheading text-white">
                        <p class="text-center">
                            Nagrada nosi ime po slovenskem književniku <strong>Franu Levstiku</strong>.
                        </p>
                    </h3>
                </div>
            </div>
            <div class="row text-center pt-3">
                <div class="col-md-4">
                    <h4 class="gold mb-4 text-uppercase font-weight-bold">Kategorije</h4>
                    <p>
                        Podeljuje se več Levstikovih nagrad:
                    </p>
                    <ul class="text-left">
                        <li>nagrada za izvirno ilustracijo,</li>
                        <li>nagrada za izvirno leposlovno delo,</li>
                        <li>nagrada za stvarno literaturo,</li>
                        <li>nagrada za življenjsko delo.</li>
                    </ul>
                </div>
                <div class="col-md-4 mt-5 mt-sm-0 px-4 px-sm-5">
                    <h4 class="gold mb-4 text-uppercase font-weight-bold">Izbira</h4>
                    <p class="text-justify text-sm-center">
                        Nagrada za življenjsko delo se podeljuje od leta 1999 in se podeli dvema osebama; piscu literature za otroke in mladino
                        ter ilustratorju. Kandidata za Levstikovo nagrado izbere posebej določena žirija.
                    </p>
                </div>
                <div class="col-md-4 mt-5 mt-sm-0 px-4">
                    <h4 class="gold mb-4 text-uppercase font-weight-bold">Namen</h4>
                    <p class="text-justify text-sm-center">
                        Levstikove nagrade so bile prve založniške nagrade po drugi svetovni vojni. Ustanovni namen spodbujanja slovenskih
                        književnikov, slikarjev in tudi znanstvenikov k ustvarjanju za mladino se je uresničil. Tradicija podeljevanja nagrad je
                        prispevala k razvoju otroške in mladinske književnosti na Slovenskem.
                    </p>
                </div>
            </div>
        </div>
        </div>
    </section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="mb-5">Dobitniki Levstikove nagrade</h2>
                {#                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>#}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'create_winner' %}">
                                <div class="timeline-image">
                                    <h4 class="text-black">
                                        <i class="fas fa-plus" style="font-size: 2rem;"></i><br/>
                                        <strong style="font-size: 1.3rem; line-height: 35px;">
                                            DODAJ
                                        </strong>
                                    </h4>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                    {% for winner in winners %}
                        <li{% if forloop.counter|divisibleby:2 %} class="timeline-inverted"{% endif %}>
                            <img class="timeline-image rounded-circle img-fluid" src="{{ winner.image.url }}" alt="">
                            <div class="timeline-panel">
                                <a href="{{ winner.url }}">
                                    <div class="timeline-heading">
                                        <h5 class="text-muted">{{ winner.awarded_date|date:"F Y" }}</h5>
                                        <h4 class="subheading cursive">{{ winner.full_name }}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">{{ winner.description }}</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <div class="modal-body p-0 mx-auto">
                    <img src="" id="avatarModalImg" alt="Slika nagrajenca">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"
            integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"
            integrity="sha256-JIBDRWRB0n67sjMusTy4xZ9L09V8BINF0nd/UUUOi48=" crossorigin="anonymous"></script>
    <script src="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>

    <script>
        $('.timeline-image').click(function showModal() {
            console.log($(this)[0].src);
            $('#avatarModalImg').attr('src', $(this)[0].src);
            $('#avatarModal').modal('show');
        });


        $(function () {
            // Activate scrollspy to add active class to navbar items on scroll
            $('body').scrollspy({
                target: '#mainNav',
                offset: 56
            });

            // Collapse Navbar
            var navbarCollapse = function () {
                let $nav = $("#mainNav");
                if ($(document).scrollTop() > 55) {
                    $nav.addClass("navbar-shrink fixed-top");
                } else {
                    $nav.removeClass("navbar-shrink fixed-top");
                }
            };
            // Collapse now if page is not at top
            navbarCollapse();
            // Collapse the navbar when page is scrolled
            $(window).scroll(navbarCollapse);
        });

    </script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
          integrity="sha256-bLNUHzSMEvxBhoysBE7EXYlIrmo7+n7F4oJra1IgOaM=" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

    <style>
        .modal-content {
            width: auto !important;
            margin: auto;
        }

        .modal .close {
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 10;
            font-size: 2rem;
            font-weight: bold;
        }

        .subheading {
            font-size: 1.7rem;
        }

        h1, h2,
        .cursive,
        #mainNav .navbar-brand {
            font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        }

        h2 {
            font-size: 2.4rem;
        }

        .gold {
            color: #fed136;
        }

        ul {
            font-size: 1.2rem;
        }

        p {
            width: 100%;
            font-size: 1.2rem;
        }

        .header {
            min-height: 45vh;
        {#background-image: url({% static 'img/levstik-background2.jpg' %});#}{#background-position: center;#}{#background-size: cover;#} transition: height 999999s;
            color: white;
            position: relative;
        }

        .header-inside {
            min-height: 45vh;
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .header::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 45vh;
            background-image: url({% static 'img/levstik-background.jpg' %});
            background-position: center;
            background-size: cover;
            -webkit-filter: blur(3px) hue-rotate(205deg) invert(20%); /* Safari 6.0 - 9.0 */
            filter: blur(3px) hue-rotate(205deg) brightness(0.5) sepia(70%) invert(5%);
            transform: scale(1.05);
        }

        body {
            overflow-x: hidden;
        }

        .header a {
            color: white;
        }

        .card-img-top {
            margin: auto;
            height: 300px;
            width: 300px;
        }

        .primary {
            background: rgb(45, 8, 12);
            background: linear-gradient(90deg, rgba(45, 8, 12, 1) 0%, rgba(54, 10, 10, 1) 15%, rgb(66, 9, 18) 50%, rgba(54, 10, 10, 1) 85%, rgba(45, 8, 12, 1) 100%);
        }

        .card:hover {
            content: "";
            transform: scale(1.01);
            transition: transform 0.1s;
        }

        h1, h2 {
            font-weight: bold;
        }

        .timeline {
            position: relative;
            padding: 0;
            list-style: none;
        }

        .timeline:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 40px;
            width: 2px;
            margin-left: -1.5px;
            content: '';
            background-color: #e9ecef;
        }

        .timeline > li {
            position: relative;
            min-height: 50px;
            margin-bottom: 50px;
        }

        .timeline > li:after, .timeline > li:before {
            display: table;
            content: ' ';
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:hover,
        .timeline-image:hover {
            content: "";
            transform: scale(1.1);
            transition: transform 0.1s;
            cursor: pointer;
        }

        .timeline > li .timeline-panel {
            position: relative;
            float: right;
            width: 100%;
            padding: 0 20px 0 100px;
            text-align: left;
        }

        .timeline > li .timeline-panel:before {
            right: auto;
            left: -15px;
            border-right-width: 15px;
            border-left-width: 0;
        }

        .timeline > li .timeline-panel:after {
            right: auto;
            left: -14px;
            border-right-width: 14px;
            border-left-width: 0;
        }

        .timeline > li .timeline-image {
            position: absolute;
            z-index: 100;
            left: 0;
            width: 80px;
            height: 80px;
            margin-left: 0;
            text-align: center;
            color: white;
            border: 7px solid #e9ecef;
            border-radius: 100%;
            background-color: #fed136;
            object-fit: cover;
        }

        .timeline > li .timeline-image h4 {
            font-size: 10px;
            line-height: 14px;
            margin-top: 12px;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
            padding: 0 20px 0 100px;
            text-align: left;
        }

        .timeline > li.timeline-inverted > .timeline-panel:before {
            right: auto;
            left: -15px;
            border-right-width: 15px;
            border-left-width: 0;
        }

        .timeline > li.timeline-inverted > .timeline-panel:after {
            right: auto;
            left: -14px;
            border-right-width: 14px;
            border-left-width: 0;
        }

        .timeline > li:last-child {
            margin-bottom: 0;
        }

        .timeline .timeline-heading h4 {
            margin-top: 0;
            color: inherit;
        }

        .timeline .timeline-heading h4.subheading {
            text-transform: none;
        }

        .timeline .timeline-body > ul,
        .timeline .timeline-body > p {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            .timeline:before {
                left: 50%;
            }

            .timeline > li {
                min-height: 100px;
                margin-bottom: 100px;
            }

            .timeline > li .timeline-panel {
                float: left;
                width: 41%;
                padding: 0 20px 20px 30px;
                text-align: right;
            }

            .timeline > li .timeline-image {
                left: 50%;
                width: 100px;
                height: 100px;
                margin-left: -50px;
            }

            .timeline > li .timeline-image h4 {
                font-size: 13px;
                line-height: 18px;
                margin-top: 16px;
            }

            .timeline > li.timeline-inverted > .timeline-panel {
                float: right;
                padding: 0 30px 20px 20px;
                text-align: left;
            }
        }

        @media (min-width: 992px) {
            .timeline > li {
                min-height: 150px;
            }

            .timeline > li .timeline-panel {
                padding: 0 20px 20px;
            }

            .timeline > li .timeline-image {
                width: 150px;
                height: 150px;
                margin-left: -75px;
            }

            .timeline > li .timeline-image h4 {
                font-size: 18px;
                line-height: 26px;
                margin-top: 30px;
            }

            .timeline > li.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px;
            }
        }

        @media (min-width: 1200px) {
            .timeline > li {
                min-height: 170px;
            }

            .timeline > li .timeline-panel {
                padding: 0 20px 20px 100px;
            }

            .timeline > li .timeline-image {
                width: 170px;
                height: 170px;
                margin-left: -85px;
            }

            .timeline > li .timeline-image h4 {
                margin-top: 40px;
            }

            .timeline > li.timeline-inverted > .timeline-panel {
                padding: 0 100px 20px 20px;
            }
        }
    </style>
{% endblock %}