{% extends "base.html" %}
{% load static i18n humanize %}

{% block content %}
    <div class="container">
        <p class="lead">Hello, {{ user }}.</p>

        <div>
            <h2>Aktivna naročila</h2>
            <hr>
        </div>

        {% if active_jobs %}
            <ul class="list-group">
                {% for job in active_jobs %}
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ job.name }} - {{ job.price }}€</h5>
                            <small>{{ job.date|naturaltime }}</small>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                {% if job.description %}
                                <p class="mb-1">
                                    {{ job.description|default:'No description' }}
                                </p>
                                {% endif %}
                                <p>
                                    {% if job.addres %}<strong>Address:</strong> {{ job.address }}<br />{% endif %}
                                    {% if job.city %}<strong>City: </strong> {{ job.city|default:'' }}<br />{% endif %}
                                    {% if job.post %}<strong>Post:</strong> {{ job.post|default:'' }}<br />{% endif %}
                                </p>
                            </div>
                            <div class="col-3">
                                {%  if job.provider %}
                                    <button class="btn btn-sm btn-success status-btn" disabled>Potrjeno</button>
                                {% else %}
                                     <button class="btn btn-sm btn-warning status-btn" disabled>V čakanju</button>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info">Trenutno nimate aktivnih naročil.</div>
        {% endif %}

        <div class="pt-5">
            <h2>Pretekla naročila</h2>
            <hr>
        </div>
        {% if finished_jobs %}
            <ul class="list-group mb-5">
                {% for job in finished_jobs %}
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ job.name }}</h5>
                            <small>{{ job.date|naturaltime }}</small>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                {% if job.description %}
                                <p class="mb-1">
                                    {{ job.description|default:'No description' }}
                                </p>
                                {% endif %}
                                <p>
                                    {% if job.addres %}<strong>Address:</strong> {{ job.address }}<br />{% endif %}
                                    {% if job.city %}<strong>City: </strong> {{ job.city|default:'' }}<br />{% endif %}
                                    {% if job.post %}<strong>Post:</strong> {{ job.post|default:'' }}<br />{% endif %}
                                </p>
                            </div>
                            <div class="col-3">
                                {%  if job.review %}
                                    <a href="{% url 'review' job.review.id %}" role="button" class="btn btn-sm btn-secondary status-btn">Poglej oceno</a>
                                {% else %}
                                     <a href="{% url 'review_job' job.id %}" role="button" class="btn btn-sm btn-primary status-btn">Oceni</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info">Trenutno nimate končanih naročil.</div>
        {% endif %}
    </div>

{% endblock %}

{% block footer %}{% endblock %}