{% extends "base.html" %}
{% load static i18n humanize %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/fullcalendar/core/main.js' %}"></script>
    <script src="{% static 'js/fullcalendar/interaction/main.js' %}"></script>
    <script src="{% static 'js/fullcalendar/daygrid/main.js' %}"></script>
    <script src="{% static 'js/fullcalendar/timegrid/main.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                defaultDate: '2019-09-01',
                navLinks: true, // can click day/week names to navigate views
                businessHours: true, // display business hours
                editable: false,
                events: [
                    {% for job in active_jobs %}
                        {
                            title: "{{ job.name }}",
                            start: "{{ job.date|date:"c" }}",
                            end: "{{ job.date|date:"c" }}"
                        },
                    {% endfor %}
                ]
            });

            calendar.render();
        });
    </script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'js/fullcalendar/core/main.css' %}" rel="stylesheet">
    <link href="{% static 'js/fullcalendar/daygrid/main.css' %}" rel="stylesheet">
    <link href="{% static 'js/fullcalendar/timegrid/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <p class="lead">Pozdravljen, {{ user }}.</p>

        <div class="row mb-1">
            <div class="col">
                <h2>Moja naročila</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div id='calendar'></div>
            </div>

            <div class="col-6">
                {% if active_jobs %}
                    <ul class="list-group">
                        {% for job in active_jobs %}
                            <li class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ job.name }}</h5>
                                    <small>{{ job.date|naturaltime }}</small>
                                </div>
                                {% if job.description %}
                                <p class="mb-1">
                                    {{ job.description|default:'No description' }}
                                </p>
                                {% endif %}
                                <p>
                                    {% if job.addres %}<strong>Address:</strong> {{ job.address }}<br />{% endif %}
                                    {% if job.city %}<strong>City: </strong> {{ job.city|default:'' }}<br />{% endif %}
                                    {% if job.post %}<strong>Post:</strong> {{ job.post|default:'' }}<br />{% endif %}
                                </p>
                                <small>{{ job.customer.get_full_name }}</small>
                                <form method="get" action="{% url 'finish_job' job.id %}" class="float-right">
                                    <button onclick="mixpanel.track('Finish order')" class="btn btn-sm btn-info">Delo zakljjučeno</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-info">Nimate aktivnih naročil.</div>
                {% endif %}
            </div>
        </div>

        <div class="row" style="padding: 2rem"></div>

        <div>
            <h2>Pretekla naročila</h2>
            <hr>
        </div>
        {% if finished_jobs %}
            <ul class="list-group mb-5">
                {% for job in finished_jobs %}
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ job.name }}</h5>
                            <small>{{ job.date|naturaltime }}</small>
                        </div>
                        {% if job.description %}
                        <p class="mb-1">
                            {{ job.description|default:'No description' }}
                        </p>
                        {% endif %}
                        <p>
                            {% if job.addres %}<strong>Address:</strong> {{ job.address }}<br />{% endif %}
                            {% if job.city %}<strong>City: </strong> {{ job.city|default:'' }}<br />{% endif %}
                            {% if job.post %}<strong>Post:</strong> {{ job.post|default:'' }}<br />{% endif %}
                        </p>
                        <small>{{ job.customer.get_full_name }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info">Nimate zaključenih naročil.</div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}