{% extends "base.html" %}
{% load static i18n humanize %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"
            integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"
            integrity="sha256-JIBDRWRB0n67sjMusTy4xZ9L09V8BINF0nd/UUUOi48=" crossorigin="anonymous"></script>
    <script src="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            $('#id_date').datetimepicker({
                sideBySide: true,
                format: 'DD/MM/YYYY HH:mm',
            });
        });
    </script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
          integrity="sha256-bLNUHzSMEvxBhoysBE7EXYlIrmo7+n7F4oJra1IgOaM=" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <style>
        .header a {
            color: white;
        }

        .header__checks span {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
{% endblock %}


{% block content %}
    {% if user.is_provider and user.is_authenticated %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <p class="lead">
                Pozdravljen {{ user }}, kaj boš delal danes?
            </p>
        </div>
        <div class="container">
            <div class="col-12">
                <div>
                    <h2>Nova naročila</h2>
                    <hr>
                </div>

                {% if available_jobs %}
                    <div class="list-group">
                        {% for job in available_jobs %}
                            <a href="#"
                               class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ job.name }}</h5>
                                    <small>{{ job.date|naturaltime }}</small>
                                </div>
                                <p class="mb-1">
                                    {{ job.description|default:'No description' }}
                                </p>
                                <small>{{ job.customer.get_full_name }}</small>
                                <form method="get" action="{% url 'accept_job' job.id %}" class="float-right">
                                    <button onclick="mixpanel.track('Accept order')" class="btn btn-sm btn-success">Accept</button>
                                </form>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-info">Trenutno ni na voljo nobenih naročil.</div>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}